body
{
	padding: 0px;
	margin: 0px;
	font-family: arial;

}

.header
{
	height: 80px;
	width: 100%;
	background-color: #566e50;
}

.logo
{
	float: left;
	height: 100%;
}

#logo
{
	height: 100%;
}

.menu
{
	float: left;
	/*width: calc(100% - 30px);*/

	height: 100%;
}

.menu ul
{
	list-style: none;
	/*width: 100%;*/
}

#links ul li
{
	float: left;
	padding: 20px;
	display: inline;
}

#links
{

}

.hlink
{
	color: black;
	text-decoration: none;
}

.meat
{
	height: 600px;
}

.footer
{
	background-color: #566782;
	height: 50px;
	width: 100%;
}

