body
{
	padding: 0px;
	margin: 0px;
	font-family: arial;

}

.header
{
	height: 100px;
	width: 100%;
	background-color: blue;
}

.meat
{
	height: 1000px;
}

.footer
{
	background-color: black;
	height: 50px;
	width: 100%;
}